<h1>Teachers</h1>

<p>
    <%= lorem %>
</p>

<ul>
    <% @teachers.each do |teacher| %>
        <li>
            <%= teacher.name %>
            <%= link_to 'Edit', edit_teacher_path(teacher) %>
            <%= link_to 'Delete', teacher_path(teacher), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
</ul>

<%= link_to 'New Teacher', new_teacher_path %>
<%= link_to 'Students', students_path %>
